@font-face {
    font-family: iCiel-Regular;
    src: url(../fonts/iCielInternacional-Regular.otf)
}

@font-face {
    font-family: iCiel-Bold;
    src: url(../fonts/iCielInternacional-Bold.otf)
}

@font-face {
    font-family: iCiel-Black;
    src: url(../fonts/iCielInternacional-Black.otf)
}

body {
    font-size: 14px;
    font-family: iCiel-Regular;
    overflow-x: hidden;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: #464646;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.clearfix-90 {
    clear: both;
    height: 90px;
}

.clearfix-30 {
    clear: both;
    height: 30px;
}

.clearfix-20 {
    clear: both;
    height: 20px;
}

.menu_mb {
    background: #fff;
    z-index: 999;
    height: 90px;
    padding-top: 12px;
    box-shadow: 0 0 3px 3px #ccc;
}

.top_mb {
    padding: 10px 0;
}

.logo_mb {
    padding: 0 10px;
}

.language_mb {
    padding: 5px;
}

.top_mb .right {
    float: right;
}

.menu_mb .bt_menu {
    padding-top: 8px;
}

#go_top {
    position: fixed;
    width: 24px;
    height: 25px;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: 700;
    background-size: 100% 100%;
    display: inline-block;
    z-index: 100;
    bottom: 25px;
    right: 25px;
    -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.img_logo_mb {
    max-height: 50px;
}

.menu_main .nav.is-fixed {
    position: relative;
    z-index: 105;
    font-family: Roboto-Regular;
}

.menu_main .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: #efefef;
}

.nav-container {
    position: fixed;
    top: 90px;
    right: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    width: 300px;
    max-width: 70%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.nav-container.is-visible {
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.nav-toggle {
    border: 0;
    background: 0;
    z-index: 99;
    padding: 0;
    margin: 7px 10px;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle .icon-menu {
    position: relative;
    width: 28px;
    height: 20px;
}

.icon-menu .line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icon-menu .line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.icon-menu .line-1 {
    top: 0;
}

.is-active .icon-menu .line-1 {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
    -ms-transform: translateY(8px) translateX(0) rotate(45deg);
    transform: translateY(8px) translateX(0) rotate(45deg);
}

.icon-menu .line-2 {
    top: 50%;
    margin-top: -2px;
}

.is-active .icon-menu .line-2 {
    opacity: 0;
}

.icon-menu .line-3 {
    bottom: 0;
}

.is-active .icon-menu .line-3 {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
    transform: translateY(-8px) translateX(0) rotate(-45deg);
}

.nav-menu {
    background-color: #383838;
}

.nav-menu>.menu-item.is-active {
    background: #8c8c8c;
}

.nav-menu>.menu-item:hover {
    background: #8c8c8c;
}

.nav-menu>.menu-item.is-active.has-dropdown:after,
.nav-menu>.menu-item:hover.has-dropdown:after {
    color: #000;
}

.nav-menu>.menu-item.is-active a,
.nav-menu>.menu-item:hover a {
    color: #939393;
}

.nav-menu .menu-link {
    color: #fff;
    display: block;
    padding: 5px 15px;
    font-family: 'iCiel-Regular';
    text-transform: uppercase;
}

.has-dropdown {
    position: relative;
    cursor: pointer;
}

.has-dropdown>.menu-link {
    display: inline-block;
}

.has-dropdown:after {
    font-size: 16px;
    position: absolute;
    bottom: -2px;
    right: 1rem;
    bottom: 0;
    height: 30px;
    content: "+";
    color: #fff;
    line-height: 25px;
}

.has-dropdown.is-active:after {
    content: "\2013";
}

.nav-dropdown {
    display: none;
    background-color: #8c8c8c;
}

.has-dropdown.is-active>.nav-dropdown {
    display: block;
}

.nav-dropdown .nav-dropdown {
    background-color: #e84545;
}

.nav-dropdown .menu-item {
    border-bottom: 1px solid #fff;
}

.nav-dropdown .menu-item .menu-link {
    display: block;
    text-transform: uppercase;
    font-family: iCiel-Regular;
    padding: 9px 10px;
}

@media (min-width: 992px) {
    .menu_main .nav,
    .nav-container,
    .nav-container.is-visible {
        position: static;
        top: auto;
        left: auto;
        z-index: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .nav-container,
    .nav-container.is-visible {
        visibility: visible;
        height: auto;
        min-height: 0;
        overflow-y: visible;
        width: 100%;
        max-width: 100%;
    }
    .nav-toggle {
        display: none;
    }
    .nav-menu>.menu-item:hover,
    .nav-menu>.menu-item.is-active {
        background-color: transparent;
    }
    .nav-menu .menu-item {
        -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    .nav-menu>.has-dropdown:after {
        position: absolute;
        right: 0;
        bottom: -2px;
        font-size: 16px;
        content: "\f107";
        font-family: FontAwesome;
        color: #8c8c8c;
        display: none;
    }
    .nav-menu>.has-dropdown:hover::after {
        content: "\f107";
        color: #fff;
    }
    .nav-dropdown .has-dropdown:after {
        position: absolute;
        top: 3px;
        font-size: 14px;
        content: "\f105";
        font-family: FontAwesome;
    }
    .nav-dropdown {
        left: -35%;
        display: block;
        opacity: 0;
        position: absolute;
        top: 100%;
        width: 250px;
        margin: 0;
        background-color: transparent;
        border-radius: 0;
        box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.15);
        visibility: hidden;
        -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    .has-dropdown:hover>.nav-dropdown {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.35s linear;
        -moz-transition: all 0.35s linear;
        -o-transition: all 0.35s linear;
        transition: all 0.35s linear;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .nav-dropdown .menu-item:last-child {
        border-bottom: none;
    }
    .nav-dropdown>.menu-item:hover>.menu-link,
    .nav-dropdown>.nav-dropdown>.menu-item:hover>.menu-link {
        color: #8c8c8c;
        background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        animation: change 5s ease-in-out infinite;
    }
    .nav-dropdown .nav-dropdown {
        z-index: 998;
        top: 0;
        left: 100%;
    }
    .nav-menu>.menu-item>.menu-link {
        display: inline-block;
        padding: 20px 15px 0;
        color: #8c8c8c;
        font: 18px 'iCiel-Bold';
        text-transform: uppercase;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .nav-menu>.menu-item {
        position: relative;
    }
    .nav-menu {
        display: flex;
        justify-content: flex-end;
    }
    .nav-menu,
    .menu_main .nav {
        background: none;
    }
    .nav-menu>.menu-item.is-active>.menu-link,
    .nav-menu>.menu-item:hover>.menu-link {
        color: #8c8c8c;
        background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        animation: change 5s ease-in-out infinite;
    }
    .nav-dropdown>.menu-item {
        background: #ebebeb;
        border-bottom: 1px solid #ccc;
        height: 40px;
    }
    .nav-dropdown>.menu-item>.menu-link {
        color: #fff;
    }
}


/*============================*/

.header_top {
    z-index: 9999;
    background: #fff;
    left: 0;
    top: 0;
    position: fixed;
    padding: 30px 0;
    transition: all 0.5s ease-in-out;
}

.clearfix-header {
    height: 143px;
    transition: all 0.5s ease-in-out;
}

.clearfix-header.fixed {
    height: 123px;
}

.right_top {
    padding-top: 10px;
    letter-spacing: 1.5px;
    justify-content: flex-end;
    color: #8c8c8c;
    text-transform: uppercase;
}

.right_top .language {
    color: #8c8c8c;
    text-transform: uppercase;
    font-family: Arial;
    cursor: pointer;
    border: 0;
    outline: 0;
}


/* slick */

.slick-arrow {
    font-size: 16px;
    position: absolute;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    width: 46px;
    height: 46px;
    left: -25px;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    background: rgba(33, 33, 33, .9) url(../img/prev.png) no-repeat center;
    border-radius: 50%;
    border: 0;
    outline: 0;
}

.slick-arrow.slick-next {
    left: auto;
    right: -25px;
    background: rgba(33, 33, 33, .9) url(../img/next.png) no-repeat center;
}

.slick-arrow:hover {
    background-color: rgba(33, 33, 33, .5);
    border: 0;
    outline: 0;
}

.slick-dots li:not(:last-child) {
    margin-bottom: 15px;
}

.slick-dots {
    text-align: center;
    padding: 0;
    margin: auto 0;
    position: absolute;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 30px;
    width: auto;
}

.slick-dots li button {
    display: block;
    font-size: 0;
    width: 3px;
    height: 110px;
    padding: 0;
    outline: none;
    border: none;
    background-color: #9d95a8;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

.slick-dots li button:before {
    width: 3px;
    height: 110px;
}

.slick-dots .slick-active button {
    background-color: #d8d7da;
    width: 5px;
}

.bg_animation {
    width: 100%;
    height: 70px;
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    background-size: 400% 400%;
    position: relative;
    animation: change 5s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


/*  footer  */

.footer::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .2)
}

.body_page footer {
    color: #e4e2e8;
}

.ft_item {
    font-size: 11px;
}

.ft_item a.item {
    font: 12px 'iCiel-Bold';
    display: inline-block;
    margin-right: 20px;
    color: #000000;
}

.ft_item .link_social a:not(:last-child) {
    margin-right: 5px;
}

.body_page .ft_item a.item {
    color: #e4e2e8;
}

.body_page .ft_item .link_social a img {
    filter: invert(0.9);
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        max-width: 100%;
    }
}

/*@media (min-width: 1600px) {
    .container {
        width: 1600px;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}*/

@media (max-width: 991px) {
    .header_top,
    .header_top.fixed {
        padding: 0;
    }
    .menu-item {
        border-bottom: 1px solid #fff;
    }
    .menu-item:last-child {
        border-bottom: 0;
    }
    .nav-dropdown .menu-item {
        border-bottom: 0;
        border-top: 1px solid #fff;
    }
    .nav-dropdown>.menu-item>.menu-link {
        padding: 5px 30px;
    }
    .nav-dropdown .nav-dropdown .menu-item>.menu-link {
        padding: 5px 40px;
    }
    .nav-menu>.menu-item.is-active.has-dropdown:after,
    .nav-menu>.menu-item:hover.has-dropdown:after {
        color: #000;
    }
    .menu .menu-item.d-block {
        padding: 5px;
        background: #fff;
    }
    /*footer*/
    .ft_item {
        margin-bottom: 30px;
        text-align: center;
        justify-content: center;
    }
    .ft_item .list_item {
        justify-content: center !important;
    }
}

@media (max-width: 480px) {
    .nav-menu.menu {
        border: 1px solid #e1e1e1;
    }
    .nav-menu .menu-link {
        padding: 10px 15px;
    }
    .has-dropdown:after {
        top: 8px;
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .clearfix-header {
        height: 0;
    }
    main,
    footer {
        overflow-x: hidden;
    }
    .logo_bot {
        margin-bottom: 30px;
    }
    .ft_item:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .nav-menu.menu {
        border: 1px solid #e1e1e1;
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    main,
    footer {
        overflow-x: hidden;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    main,
    footer {
        overflow-x: hidden;
    }
    .nav-menu>.menu-item>.menu-link {
        font-size: 14px;
    }
}


/*==========end_header_footer==============*/

.pd_50,
.section {
    padding: 50px 0;
}

.bg_gradient {
    position: relative;
}

.bg_gradient::after {
    content: "";
    transition: all 3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    opacity: 0;
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

.bg_gradient.is-active::after {
    opacity: 1;
}

.tit_cate {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 15px;
}

.tit_cate .title {
    font: 40px 'iCiel-Bold';
    color: #464646;
    background: #fff;
}

.cate_music .tit_cate .title {
    background: transparent;
}

.cate_news .tit_cate {
    align-items: center;
    position: relative;
}

.cate_news .tit_cate::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50% - 7px);
    transform: translateY(-50%);
    background: #ccc;
    z-index: -1;
}

.cate_news .tit_cate .title {
    padding-right: 30px;
}

.item_cate .view_more {
    color: #7d7d7d;
    font-size: 12px;
    position: relative;
    padding-right: 10px;
    text-transform: uppercase;
    background: #fff;
}

.cate_news .view_more {
    padding-left: 30px;
}

.cate_music.item_cate .view_more {
    background: transparent;
}

.item_cate .view_more::after {
    content: " >";
    position: absolute;
    right: 0;
}

.item_cate .view_more:hover {
    color: #ff7d7d;
}

.item_cate .hot_news .title a {
    font-size: 16px;
    text-decoration: underline;
    color: #464646;
    overflow: hidden;
    line-height: 22px;
    max-height: 93px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.cate_music .list_item.list_top {
    display: grid;
    grid-template-columns: calc(46% - 20px) calc(27% - 20px) calc(27% - 20px);
    grid-column-gap: 30px;
}

.date_post {
    font-size: 10px;
    color: #717171;
}

.img_item {
    overflow: hidden;
    display: block;
    border-radius: 5px;
}

.img_item img {
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img_item img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.pagination>ul {
    display: flex;
}

.pagination>ul li a {
    display: inline-block;
    padding: 0 5px;
    margin-left: 10px;
}

.list_tab .nav.nav-tabs {
    border: 0;
}

.nav-tabs .nav-link {
    color: #7d7d7d;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: linear-gradient( -45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    border-color: transparent;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
    border-radius: 0;
}

@media (min-width: 992px) {
    .header_top.fixed {
        background: #fff;
        padding: 15px 0;
        box-shadow: 0 3px 5px #ccc;
    }
    .item_cate .tit_cate.bd_bot {
        margin-bottom: 30px;
        border-bottom: 2px solid #ccc;
    }
    .item_cate .tit_cate.bd_bot {
        margin-top: 30px;
    }
    .col-lg-220 {
        max-width: 20%;
        flex: 0 0 20%;
    }
}

@media (max-width: 991px) {
    .tit_cate .title {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .slick-dots li button {
        height: 30px;
    }
    .slick-dots li:not(:last-child) {
        margin-bottom: 5px;
    }
    .slick-dots li button {
        width: 2px;
    }
    .slick-dots .slick-active button {
        width: 3px;
    }
    .section {
        padding: 20px 0;
    }
    .item_cate {
        margin-bottom: 20px;
    }
    .list_tab ul.nav {
        display: flex;
        justify-content: center;
    }
    .slick-arrow {
        left: 10px;
    }
    .slick-arrow.slick-next {
        right: 10px;
    }
    .cate_music .list_item {
        grid-template-columns: auto;
        grid-column-gap: 15px;
    }
    .cate_music .list_item .hot_news {
        grid-column: 1 / span 2;
        margin-bottom: 15px;
    }
    .cate_music .list_item.list_bot .item {
        margin-bottom: 20px;
    }
}