.bg_gradient::after {
    opacity: 1;
}

.page_intro {
    font-size: 15px;
}

.page_intro .container {
    position: relative;
}

.page_intro .list_tab {
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 2;
}

.page_intro .tit_cate .title {
    margin-bottom: 30px;
    border-bottom: 2px solid #636363;
    padding-bottom: 20px;
}

.nav-tabs .nav-link {
    font: 10px 'iCiel-Black';
}


/*  tab intro */

.page_intro .item_info {
    margin-bottom: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, calc((100%)/2));
}

#tab_intro .title {
    font-family: iCiel-Black;
    margin-bottom: 60px;
}

.tab-content .tit_cate .title,
.page_intro .slogan,
.bottom_total_number {
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.total_number .item:not(:last-child) {
    margin-bottom: 30px;
}

.total_number .number {
    font-size: 38px;
}

.page_intro .slogan {
    font: 40px iCiel-Bold;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: -1.5px;
    margin-bottom: 15px;
}


/*tab history*/

#tab_history .tit_cate .title {
    margin: 0;
    padding: 0;
    border: 0;
}

#tab_history .tit_cate {
    border-bottom: 2px solid #636363;
}

#tab_history .col-lg-9 .list_item {
    margin-top: 100px;
}

#tab_history .list_item .item {
    margin-bottom: 40px;
}

#tab_history .item .img_item img {
    object-fit: cover;
    background: #ccc;
}

#tab_history .item .title {
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
    display: -webkit-box;
    margin-top: 20px;
}

.bottom_number_title{
    margin-bottom: 20px !important; 
    font-size: 25px;
}

@media(max-width: 480px) {
    .page_intro .list_tab {
        position: static;
    }
    #tab_history .col-lg-9 .list_item {
        margin-top: 30px;
    }
    #tab_intro .title {
        margin-bottom: 30px;
    }
    .page_intro .slogan {
        text-align: center !important;
    }
}