.page_music_album .nav-tabs .nav-link {
    font: 30px 'iCiel-Bold';
    color: #bababa;
    padding: 0 20px 0 0;
}

.bg_gradient::after {
    opacity: 1;
}

.wrap_head {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap_head::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50% + 5px);
    background: #bababa;
    z-index: -1;
}

.wrap_head .list_tab {
    background: #fff;
}

.item_cate>.title {
    font: 23px 'iCiel-Bold';
    position: relative;
    margin: 30px 0;
}

.item_cate>.title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: calc(50% + 3px);
    left: 0;
    transform: translateY(-50%);
    background: #565656;
    z-index: -1;
}

.item_cate>.title span {
    padding-right: 30px;
    background: #fff;
}


/* custom select */

.custom_select {
    position: relative;
    line-height: 60px;
    min-width: 280px;
}

.custom_select select {
    display: none;
    /*hide original SELECT element:*/
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    bottom: 20px;
    right: 25px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #898989 transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #898989 transparent;
    bottom: 27px
}


/*style the items (options), including the selected item:*/

.select-items>div,
.select-selected {
    background: linear-gradient(to right, #fff, #dedbdc);
    cursor: pointer;
    padding-right: 60px;
    font-size: 19px;
    color: #898989;
    user-select: none;
    text-align: right;
}

.select-selected {
    font-family: iCiel-Bold;
}

.select-items>div:nth-child(odd) {
    background: linear-gradient(to right, #fff, #ebebeb);
}


/*style items (options):*/

.select-items {
    position: absolute;
    left: 0;
    z-index: 99;
    width: 100%;
    opacity: 0.85;
    background: #fff;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(33, 150, 243, 0.6);
}

.slick-slider .item {
    margin: 0 5px;
}

.pagination>ul li a i {
    font-size: 15px;
}

.list_music_video .item .name {
    font: 17px 'iCiel-Bold';
    margin: 20px 0 10px;
    overflow: hidden;
    line-height: 22px;
    max-height: 44px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.list_music_video .item .channel,
.list_music_video .item .views_time {
    color: #666666;
}

.list_music_video .item .views_time .views {
    position: relative;
    padding-right: 15px;
}

.list_music_video .item .views_time .views::after {
    content: '\f111';
    font-family: fontAwesome;
    padding: 0 5px;
    font-size: 6px;
    position: absolute;
    right: -2px;
    top: 6px;
}

.slick-arrow {
    top: calc(50% - 30px);
}

.item_cate a .title {
    overflow: hidden;
    margin-top: 10px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.release_year,
.price {
    color: #b7b6be;
}

.info .name_album {
    font: 17px 'iCiel-Bold';
    margin-top: 40px;
}

.info .artist_time {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #959595;
    margin-bottom: 30px;
}

.info .artist_time .artist {
    font-size: 30px;
}

.info .artist_time .time,
.info .desc {
    font-size: 15px;
}

.release_info .tit_release {
    font: 23px 'iCiel-Bold';
    margin-bottom: 30px;
}

.release_content {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #bababa;
}


/* ====== */

.list_item_album {
    background: linear-gradient(-90deg, #8fd5ef, #f5e199, #afebe5);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.list_item_album .item_album .box_item {
    display: grid;
    grid-template-columns: 60px calc(100% - 220px) 160px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bababa;
    font-size: 18px;
    cursor: context-menu;
}

.list_item_album .item_album {
    padding: 0 30px;
    color: #959595;
}

.list_item_album .item_album .name {
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.list_item_album .item_album:hover,
.list_item_album .item_album.is-active {
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    color: #fff;
}

.list_item_album .item_album .listen {
    font-size: 14px;
    padding: 20px 0;
}

.list_item_album .item_album .listen a {
    display: inline-block;
    padding-left: 10px;
}

@media (max-width: 480px) {
    .wrap_head {
        display: block;
    }
    .list_tab ul.nav {
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .page_music_album .nav-tabs .nav-link {
        font-size: 25px;
        padding-right: 0;
    }
    .wrap_head::after {
        display: none;
    }
    .slick-slider .item {
        margin: 0;
    }
    #tab_album .list_item .item,
    #tab_music .list_item .item {
        margin-bottom: 20px;
    }
    .list_item_album {
        margin-top: 30px;
    }
    .list_item_album .item_album {
        padding: 0 10px;
    }
    .release_info .tit_release {
        margin-bottom: 10px;
    }
}