.bg_gradient::after {
    opacity: 1;
}

.page_artist.page_detail .container {
    position: relative;
}

.page_artist .list_tab {
    position: absolute;
    right: 160px;
    top: 5px;
    z-index: 2;
    background: #fff;
}

.page_artist .tit_cate {
    justify-content: end;
    position: relative;
}

.page_artist .tit_cate::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50% - 4px);
    transform: translateY(-50%);
    background: #ccc;
    z-index: -1;
}

.page_artist .tit_cate>span {
    background: #fff;
    padding-left: 40px;
}

.page_artist .tit_cate .title {
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: change 3s ease-in-out infinite;
}

.list_tab {
    display: inline-block;
}

.nav-tabs .nav-link {
    font: 20px 'iCiel-Bold';
    padding: 0.5rem;
}

.tab-pane .tit_cate>span:first-child {
    padding-left: 0;
    padding-right: 40px;
}

.page_artist .page_content {
    padding: 50px;
}

.page_content .list_item .item:nth-child(odd) {
    padding-right: 25%;
}

.page_content .list_item .item:nth-child(even) {
    padding-left: 25%;
}

.page_content .list_item .item .name {
    font: 40px 'iCiel-Bold';
    line-height: 110px;
    margin-right: 20px;
    color: #d9d9d9;
}

.page_content .list_item .item a.btn_img {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.page_content .list_item .item a.btn_img:hover .name,
.page_content .list_item .item a.btn_img.is-active .name {
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.page_content .list_item .item a.btn_img:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.page_content .img_artist {
    position: fixed;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_content .img_artist.show {
    visibility: visible;
    opacity: 1;
}

.opacity_main.open_opacity {
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px !important;
    left: 0px;
    z-index: 99;
}

.page_artist .tab-content {
    font-size: 15px;
}

.awards .title {
    font: 20px 'iCiel-Bold';
    margin-bottom: 30px;
}

.listen_on {
    max-width: 462px;
    margin: 60px auto 0;
    text-align: center;
}

.listen_on select {
    width: 100%;
    height: 50px;
    border: 0;
    outline: 0;
    background: #282828;
    color: #fff;
    font: 17px 'iCiel-Bold';
    text-transform: uppercase;
    text-align: center;
}

#tab_latest .content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 650px 0 60px 0;
    color: #fff;
}

.img_highlight {
    padding-top: 26px;
}

.item_cate>.title {
    font: 24px 'iCiel-Bold';
    position: relative;
    margin: 30px 0;
}

.item_cate>.title span {
    padding-right: 30px;
    background: #fff;
}

.item_cate>.title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: calc(50% + 3px);
    left: 0;
    transform: translateY(-50%);
    background: #565656;
    z-index: -1;
}

.item_cate a .title {
    overflow: hidden;
    margin-top: 10px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.release_year {
    color: #b7b6be;
}

.slick-initialized .slick-slide {
    margin: 0 4px;
}

#tab_garelly .list_item .item {
    margin-bottom: 30px;
}
.artist_social{
    overflow: hidden;
}
.artist_social .sns li a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.artist_social .sns li{
    float: left;
    margin-right: 12px;
}
.artist_social .sns li a.facebook{background-image:url("../img/icon_facebook_b.svg");}
.artist_social .sns li a.instagram{background-image:url("../img/icon_instagram_b.svg");}
.artist_social .sns li a.youtube{background-image:url("../img/icon_youtube_b.svg");}
.artist_social .sns li a.twitter{background-image:url("../img/icon_twitter_b.svg");}
.artist_social .sns li a.tiktok{background-image:url("../img/icon_tiktok_b.svg");}

@media (max-width: 480px) {
    .page_content .list_item .item .name {
        font-size: 20px;
        line-height: 60px;
    }
    .page_content .list_item .item a.btn_img {
        display: block;
    }
    .page_content .list_item .item {
        padding: 0 !important;
        margin-bottom: 20px;
    }
    .page_content .img_artist img {
        width: 100%;
    }
    .page_artist .list_tab {
        position: static;
        width: 100%;
    }
    .img_highlight {
        padding-bottom: 20px;
    }
    .item_cate .list_item .item {
        margin-bottom: 20px;
    }
}