.page_store .tit_cate {
    border-bottom: 2px solid #696969;
    padding-bottom: 30px;
}

.page_store .tit_cate .title {
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.bg_gradient .tit_cate .title {
    background: transparent;
    padding: 30px 0;
}

.progress_bar {
    padding: 100px 0;
}

.progress_bar img {
    max-width: 977px;
    width: 100%;
}

.progress_bar .text {
    font: 18px 'iCiel-Bold';
    color: #808080;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

.progress_bar .text.success::after {
    content: url(../img/ic_checked.png);
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.progress_bar .back_link {
    margin-top: 40px;
    text-align: center;
}

.progress_bar .back_link a,
.add_to_cart {
    font: 18px 'iCiel-Bold';
    color: #808080;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 50px;
    border: 1px solid #808080;
}

.add_to_cart {
    width: 100%;
    text-align: center;
    border: 0;
    color: #fff;
    cursor: pointer ;
}

.progress_bar .back_link a:hover {
    color: #333333;
}

.progress_bar .back_link a:hover::after,
.add_to_cart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.bg_gradient::after {
    opacity: 1;
}

.info_right .title {
    font: 30px 'iCiel-Bold';
    width: 50%;
}

.info_right .sku_number {
    font: 15px 'iCiel-Bold';
}

.info_right .desc {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #cccccc;
}

.price_quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    margin-top: 30px;
    border-top: 2px solid #cccccc;
}

.price_quantity .price {
    font-size: 15px;
}

.quantity .value-button {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.price_quantity .quantity .value-button {
    color: #fff;
    background: #464646;
}

.quantity input {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 0 15px;
}

.quantity input:focus {
    outline: none;
}

.item_cart .table img {
    max-width: 280px;
}

.item_cart .table {
    font-size: 18px;
    text-transform: uppercase;
}

.item_cart .table td,
.item_cart .table th {
    padding: 20px 20px 20px 0;
}

.item_cart .title span {
    font-family: iCiel-Bold;
    display: inline-block;
}

.item_cart th,
.number_product_cart {
    font-size: 15px;
}

.item_cart .title .number {
    font-size: 50px;
    margin-right: 40px;
}

.item_cart .title .text {
    font-size: 24px;
    line-height: 30px;
}

.item_cart .table .btn_back,
.customer_info .btn.btn-submit {
    padding: 10px 20px;
    border: transparent;
    font: 18px iCiel-Bold;
    text-transform: uppercase;
    color: #333333;
    display: inline-block;
    position: relative;
}

.item_cart .btn_back::after,
.customer_info .btn.btn-submit::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.customer_info input::placeholder,
.customer_info select {
    height: 40px;
    color: #cbcbcb;
}

.customer_info textarea::placeholder {
    color: #cbcbcb;
}

.customer_info textarea {
    min-height: 200px;
}


/* store_cate */

.cate_store .item_cate {
    padding: 50px 0;
}

.cate_store .item_cate .tit_item {
    font: 40px 'iCiel-Bold';
    margin-bottom: 20px;
}

.cate_store .item_cate .year {
    color: #cbcbcb;
    font-size: 14px;
    margin-bottom: 50px;
}

.cate_store .item_cate:nth-child(odd) {
    background: #333333;
    color: #fff;
}

.cate_store .item_cate:nth-child(odd) .tit_item {
    color: #f2ed91;
}

.cate_store .item_cate .item .name {
    font-size: 18px;
    margin: 30px 0 20px;
}

.cate_store .item_cate:nth-child(odd) .item .name {
    color: #fff;
}

.cate_store .item_cate .item .price {
    color: #898989;
}

.slick-slider .item {
    margin: 0 15px;
}

.cate_store .slick-arrow {
    top: calc(50% - 50px);
}


/* glasscase */

.gc-lens,
.gc-zoom {
    display: none !important;
}

.gc-icon:before {
    font-family: FontAwesome;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center;
}

.gc-icon-prev {
    top: 50% !important;
    left: 0px !important;
}

.gc-icon-next {
    top: 50% !important;
    right: 0px !important;
}

.gc-icon-close:before {
    content: "\f00d" !important;
}

.gc-icon-prev:before {
    content: "\f104" !important;
    top: -2px !important;
}

.gc-icon-next:before {
    content: "\f105" !important;
    top: -2px !important;
    left: 2px !important;
}

.gc-icon-download {
    content: "\f019" !important;
}

.gc-icon-download {
    display: none !important;
}

.gc-icon-enlarge {
    display: none !important;
}

.gc-icon-enlarge:before {
    content: "\f065" !important;
}

.gc-icon-compress {
    display: none !important;
}

.gc-icon-compress:before {
    content: "\f066" !important;
}

@media (max-width: 480px) {
    .cate_store {
        padding: 0;
    }
    .cate_store .item_cate .tit_item {
        font-size: 24px;
    }
    .cate_store .item_cate .item .name {
        font-size: 16px;
        margin: 15px 0 5px;
    }
    .cate_store .item_cate {
        padding: 20px 0;
    }
    .bg_gradient .tit_cate .title {
        padding: 10px 0;
    }
    .progress_bar {
        padding: 30px 0 0;
    }
    .progress_bar img {
        max-width: 100%;
    }
    .progress_bar .text {
        margin-top: 50px;
    }
    .progress_bar .back_link a {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .info_right {
        margin-top: 20px;
    }
    .info_right .title {
        width: 100%;
        font-size: 24px;
    }
}