.bg_gradient::after {
    opacity: 1;
}

.page_events .tit_cate .title {
    background: transparent;
    padding: 30px 0;
}

.btn_download {
    display: block;
    margin: 30px 0;
    padding: 15px 0;
    border-radius: 40px;
    background: #ee37dd;
    color: #fff;
    text-transform: uppercase;
    font: 24px 'iCiel-Bold';
}

.tag_events span {
    display: inline-block;
    padding: 5px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.content_events {
    background: linear-gradient(#131c3d, #183ecc);
    padding: 80px 0;
    color: #fff;
    font-size: 16px;
}

.content_events .info_event .title {
    font: 34px 'iCiel-Bold';
}

.content_events .info_event>div {
    margin-bottom: 20px;
}

.content_events .info_event>div .title {
    font-family: iCiel-Bold;
    font-size: 16px;
    text-transform: uppercase;
}

.content_events .info_event p {
    margin: 0;
}

.content_events iframe{
    width: 100%;
}

.item_events {
    display: grid;
    grid-template-columns: calc(56% - 15px) calc(44% - 15px);
    justify-content: space-between;
    position: relative;
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}

.item_events::after {
    content: '';
    background: url(../img/ic_corner.png) center no-repeat;
    width: 35px;
    height: 37px;
    position: absolute;
    right: 0;
    top: 50px;
}

.item_events .info>.title {
    font: 35px 'iCiel-Bold';
}

.item_events .info .detail,
.item_events .img_item {
    display: none;
    font-size: 16px;
}

.item_events .info .detail .title {
    font: 16px 'iCiel-Bold';
    text-transform: uppercase;
}

.item_events .info .year {
    color: #666666;
}

.item_events.is-active .info .detail,
.item_events.is-active .img_item {
    display: block;
}

.item_events.is-active::after {
    content: '';
    background: url(../img/ic_corner2.png) center no-repeat;
    top: calc(100% - 70px);
}

.item_events .img_item {
    padding-right: 150px;
}

@media (max-width: 480px) {
    .item_events {
        display: block;
    }
    .item_events .img_item {
        padding: 30px 0;
    }
    .item_events .info>.title {
        font-size: 24px;
    }
    .item_events::after {
        top: 25px;
    }
    .item_events.is-active::after {
        top: calc(100% - 55px);
    }
}