.bg_gradient::after {
    opacity: 1;
}

.page_news .tit_cate .title {
    background: linear-gradient(-45deg, #8fd5ef, #f5e199, #eca6d6, #808dc0, #afebe5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.page_news .news_hot {
    padding-bottom: 60px;
    padding-top: 60px;
    border-bottom: 1px solid #636363;
}

.page_news .tit_cate {
    padding-bottom: 30px;
}

.page_news .news_hot .img_item {
    width: calc(100%/3);
    padding-right: 15px;
}

.page_news .news_hot .info {
    width: calc(100%/3*2);
    padding-left: 15px;
}

.page_news .news_hot .info .title {
    font: 20px 'iCiel-Bold';
    color: #000000;
    line-height: 49px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: 20px;
}

.page_news .date_post {
    font-size: 14px;
    margin-top: 20px;
}

.page_news .list_item .item {
    margin-top: 50px;
}

.page_news .item .info {
    height: 100%;
    border-bottom: 1px solid #636363;
}

.page_news .item .title {
    font-size: 20px;
    line-height: 39px;
    overflow: hidden;
    max-height: 138px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.sidebar_right .tit_cate {
    margin-top: 15px;
    padding-bottom: 15px;
}

.sidebar_right .tit_cate .title {
    font-size: 28px;
}

.sidebar_right .item:not(:last-child) {
    margin-bottom: 50px;
}

.sidebar_right .item .info {
    padding-bottom: 50px;
}

.sidebar_right .item_social .title {
    font: 20px 'iCiel-Bold';
    color: #e5e5e5;
    text-align: center;
    padding: 15px 0;
}

.sidebar_right .list_item .item {
    margin-top: 25px;
}

.page_news .sidebar_right .item .title {
    margin-top: 25px;
}

.content_detail img {
    object-fit: contain;
}

.wrap_title {
    border-bottom: 2px solid #696969;
}

.content {
    padding-top: 40px;
}

.content h4.title {
    font: 24px 'iCiel-Bold';
    margin-bottom: 10px;
}

.interact ul li {
    padding: 3px 10px;
    background-color: #3579ea;
    border-radius: 3px;
    font-size: 12px;
}

.interact ul li a {
    color: #fff;
}

.interact ul li:not(:last-child) {
    margin-right: 3px;
}

.interact ul li:last-child {
    background: #fff;
    border: 1px solid #ccc;
}

.interact ul li:last-child a {
    color: #4968ad;
}

.content .desc {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.content .desc::after {
    content: "";
    width: 30%;
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #717171;
    left: 0;
}

.pagination>ul li a i {
    font-size: 16px;
}

@media(min-width: 992px) {
    .mr-150 {
        margin-right: 150px;
    }
}

@media(max-width: 480px) {
    .page_news .news_hot {
        display: block !important;
    }
    .page_news .news_hot .img_item {
        width: 100%;
        padding: 0;
    }
    .page_news .news_hot .info {
        width: 100%;
        padding: 0;
    }
    .page_news .news_hot .info .title {
        font-size: 16px;
    }
    .page_news .item:last-child .info {
        border-bottom: 0;
    }
    .page_news .item .title {
        margin-top: 20px;
        font-size: 16px;
    }
    .content h4.title {
        font-size: 13px;
    }
    .interact {
        margin-top: 25px;
    }
}


/*page campaign*/

.page_news .news_hot .img_item {
    width: auto;
}

.page_news .news_hot .info {
    width: auto;
}